<div ng-controller="FilterSearchCtrl">
    <!--Hotel Headline and Description-->
    <div ng-controller="HotelDescCtrl" class="container-fluid">
        <h3 style="font-family: 'Helvetica Neue Light', sans-serif; font-size: 40px">{{hotelDescHeadline}}</h3>
        <p class="text-justify " style="font-size: 16px;">{{hotelDescData}}</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--Filter-->

    <div class="row container-fluid" ng-controller="FilterCtrl">
        <div class="form-inline form-group">
            <label class="col-sm-1 col-sm-offset-2 control-label" style="text-align: right;">Filter by</label>
            <div class="col-sm-2" >
                <!--DropDown for Category-->
                <div uib-dropdown is-open="categoryStatus.isopen">
                    <button class="btn btn-primary btn-block dropdown-toggle" ng-model="categoryFi" type="button" id="categoryFilterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Category
                        <span class="caret"></span>
                    </button>
                    <br>
                    <ul class="dropdown-menu"  uib-dropdown-menu role="menu" aria-labelledby="categoryFilterButton">
                        <li role="menuitem" ng-repeat="categoryItems in categoryMenu"><a ng-click="categoryItemSelected(categoryItems)">{{categoryItems}}</a></li>
                    </ul>
                </div>
                <!--Dropdown for Category Ends-->
            </div>

            <div class="col-sm-2" >
                <!--DropDown for Borough-->
                <div uib-dropdown is-open="categoryStatus.isopen">
                    <button class="btn btn-primary btn-block dropdown-toggle" ng-model="categoryFi" type="button" id="boroughFilterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Borough
                        <span class="caret"></span>
                    </button>
                    <br>
                    <ul class="dropdown-menu"  uib-dropdown-menu role="menu" aria-labelledby="boroughFilterButton">
                        <li role="menuitem" ng-repeat="boroughItems in boroughMenu"><a ng-click="boroughItemSelected(boroughItems)">{{boroughItems}}</a></li>
                    </ul>
                </div>
                <!--Dropdown for Borough Ends-->
            </div>
            <!--Clear filter button-->
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger btn-block" ng-if="filterClicked" ng-click="removeFilter();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Clear Filter</button>
            </div>
            <!--clear filter button ends-->
        </div>
    </div>
    <!--Filter Ends-->
    <!--<br>-->
    <br>
    <br>
    <br>

    <!--Filter Search Message Display-->
    <div class="text-center"><h4>{{categoryFilterDisplay}}<i><span style="font-size: 22px;">{{categoryFilter}}</span></i>{{boroughFilterDisplay}}<i><span style="font-size: 22px;">{{boroughFilter}}</span></i></h4></div>
    <!--Filter Search Message Display Ends-->

    <div ng-controller="ExperienceCardCtrl" class="container" style="padding-left: 0px;">
        <!-- Experience Card -->
        <!--<div class="row" ng-repeat="cardData in experienceCardData" ng-if="$index % 3 == 0">-->
            <div class="col-sm-4" ng-repeat="cardData in experienceCardData | filter:{category: categoryFilter} | filter:{borough: boroughFilter}">
                <!--Include ".slice($index, ($index+3 > experienceCardData.length ? experienceCardData.length : $index+3))" after "experienceCardData in ng-repeat" just in case-->
                <a ng-click="cardClick(cardData)">
                    <div class="thumbnail experienceCard" >
                        <img class="experienceCardImg img-responsive" src={{cardData.thumbail_image_link}} alt="image.jpg">
                    </div>
                </a>
            </div>
        <!--</div>-->
        <!--Experience Card Ends-->
    </div>

    <br>
</div>
