<!--Category Filter-->
<div class="row" ng-controller="CategoryCtrl">
    <div class="form-inline form-group">
        <label class="col-sm-1 col-sm-offset-4 control-label" style="text-align: right;">Filter by</label>
        <div class="col-sm-2">
            <!--DropDown for Category-->
            <div uib-dropdown is-open="categoryStatus.isopen">
                <button id="single-button" type="button" class="btn btn-primary btn-block" uib-dropdown-toggle ng-disabled="disabled">
                    Category
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="categoryItems in categoryMenu"><a href="#">{{categoryItems}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Category Ends-->

<br>
<!-- Experience Card -->
<div class="row" ng-repeat="cardData in experienceCardData" ng-if="$index % 4 == 0">
    <div class="col-sm-3" ng-repeat="cardData in experienceCardData.slice($index, ($index+4 > experienceCardData.length ? experienceCardData.length : $index+4))">
        <a ng-click="cardClick(cardData)">
            <div class="experienceCard" >
                <img class="experienceCardImg img-responsive" src={{cardData.url}} alt="image.jpg">
                <div class="experienceCardText container-fluid">
                    <p class="experienceCardTextParagraph">{{cardData.cityDescription}}</p>
                </div>
            </div>
        </a>
    </div>
</div>
<!--Experience Card Ends-->