body{
    overflow-y: auto;
    background-color: rgba(243,244,246,1);
    font-family: "Roboto", sans-serif;
}
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('./tech/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.eot');
    src: url('./tech/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./tech/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./tech/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./tech/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* theBernic Logo */
.theBernicLogo{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 60px;
    background-color: rgba(1,38,56,1);
    color: rgba(255,255,255,1);
    font-size: 40px;
    font-family: "HelveticaNeue",sans-serif;
    z-index: 10;
    padding:2px 0px;
}
.logoDisplay{
    height:56px;
    min-width:200px;
    width:15%;
    /*background-color: white;*/
}

/* Navigation Bar */
.navbar-collapse.in {
    overflow-y: hidden;
    background-color: rgba(255,255,255,1);
  }
.navPosition{
    margin-top: 60px;
}
.ylcLogo{
    height:57px;
    width:57px;
}
.navbar{
    height:60px;
    z-index: 10;
}
.navbar-nav{
    font-size: large;
}
.leftUl li:hover{
    background-color: rgba(153,164,173,0.5);
}
.leftUl{
    margin-top: 0px;
    padding:4px;
}

/*Footer*/
.foot{
    margin-top: 20px;
    background-color: rgba(1,38,56,1);
    color: rgba(255,255,255,1);
    position: relative;
    bottom:0;
    left:0;
    width:100%;
    min-height:200px;
}
section{
    overflow-y: auto;
}
hr{
    border:1px solid rgba(212,213,215,1);
}

label{
    font-size: 16px !important;
}


.stripe-3 {
    height: 5px;
    background: -webkit-repeating-linear-gradient(45deg, #2c7bf9, #2c7bf9 10px, white 10px, white 20px, #f97e2b 20px, #f97e2b 30px, white 30px, white 40px);
    background: repeating-linear-gradient(45deg, #2c7bf9, #2c7bf9 10px, white 10px, white 20px, #f97e2b 20px, #f97e2b 30px, white 30px, white 40px);
    margin-top: -10px;
    margin-bottom: 30px;
}
