body{
    overflow-y: auto;
    background-color: rgba(243,244,246,1);
    font-family: "Helvetica Neue Light", sans-serif;
}
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");



/* theBernic Logo */
.theBernicLogo{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 60px;
    background-color: rgba(1,38,56,1);
    color: rgba(255,255,255,1);
    font-size: 40px;
    font-family: "Helvetica Neue Light",sans-serif;
    z-index: 10;
    padding:2px 0px;
}
.logoDisplay{
    height:56px;
    min-width:200px;
    width:15%;
    /*background-color: white;*/
}

/* Navigation Bar */
.navbar-collapse.in {
    overflow-y: auto;
    background-color: rgba(255,255,255,1);
  }
.navPosition{
    margin-top: 60px;
}
.ylcLogo{
    height:60px;
    width:60px;
}
.navbar{
    height:60px;
    z-index: 10;
    width:100%;
    border:none;
    border-radius: 0px;
    /*background gradient*/
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(64,64,63,1), rgba(25,25,25,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(64,64,63,1), rgba(25,25,25,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(64,64,63,1), rgba(25,25,25,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(64,64,63,1), rgba(25,25,25,1) ); /* Standard syntax (must be last) */
}
.navbar-nav{
    font-size: large;
}
.rightUl li:hover{
    background-color: rgba(255,255,255,0.2);
}
.rightUl{
    margin-top: 0px;
    padding:4px;
}

/*Footer*/
/*.foot{*/
    /*margin-top: 20px;*/
    /*background-color: rgba(1,38,56,1);*/
    /*color: rgba(255,255,255,1);*/
    /*position: relative;*/
    /*bottom:0;*/
    /*left:0;*/
    /*width:100%;*/
    /*min-height:200px;*/
/*}*/
section{
    overflow-y: auto;
}
hr{
    border:1px solid rgba(212,213,215,1);
}

label{
    font-size: 16px !important;
}

.ylcBarGradient{
    /*background gradient*/
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(64,64,63,1), rgba(25,25,25,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(64,64,63,1), rgba(25,25,25,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(64,64,63,1), rgba(25,25,25,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(64,64,63,1), rgba(25,25,25,1) ); /* Standard syntax (must be last) */
}

.stripe-3 {
    height: 5px;
    background: -webkit-repeating-linear-gradient(45deg, #2c7bf9, #2c7bf9 10px, white 10px, white 20px, #f97e2b 20px, #f97e2b 30px, white 30px, white 40px);
    background: repeating-linear-gradient(45deg, #2c7bf9, #2c7bf9 10px, white 10px, white 20px, #f97e2b 20px, #f97e2b 30px, white 30px, white 40px);
    margin-top: -10px;
    margin-bottom: 30px;
}

/*========================
css for footer
=========================*/

footer {
    background: #001c28;
    padding: 40px 0 0 0;
}
.footer {
    background: #001c28;
    padding: 5px 0 0px;
    position: relative;
    z-index: 0;
    padding-bottom: 150px;
}
.cousin-btn a {
    border: 2px solid #808080;
    color: #808080;
    padding: 5px 10px;
}
.footer-menu ul li a {
    color: #808080;
}
.cousin-btn a:hover {
    color: #fff;
    background-color: #3C3C3C;
}
.space20 {
    margin-top: 20px !important;
}
.whiteclr {
    color: #fff;
}
.footer-menu-new {
    margin-top: 45px;
}
.footer-menu-new ul li a {
    color: #fff;
}
