<div class="container" style="font-size: 16px;" ng-controller="ExperienceDataCtrl">

        <div class="row" ng-controller="CarouselDemoCtrl">
            <div style="height: 500px; max-width: 1170px;">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="min-height: 500px;">
                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <div style="background-size:cover;">
                            <img class="img-responsive" ng-src="{{slide.image[$index]}}" style="margin:auto;width: 1170px;height: 500px;">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    <!--<div class="row" ng-repeat="ph in expData.experience_photos">-->
       <!--what is  {{ph}}-->
    <!--</div>-->
    <div class="row container-fluid" style="padding-left: 15px; max-width: 1185px; background-color: rgba(73,68,64,1);">
        <h4 style="color: rgba(255,255,255,1);font-weight: 100;">{{expData.experience_title}}</h4>
    </div>
    <div class="row" style="padding-left: 15px; max-width: 1185px;">
        <!--Left Form-->
        <div class="col-sm-8">
            <div class="container-fluid">
                <!--City Name-->
                <div class="row container-fluid">
                    <h2><span style="font-weight: 100;">{{expData.experience_location}}</span></h2>
                    <!--City Description-->
                    <p>{{expData.experience_short_description}}</p>
                </div>
                <!--City tour details-->
                <div class="row">
                    <div class="col-sm-3"><i class="fa fa-hourglass" style="color: teal; font-size: 20px;" aria-hidden="true"></i>&nbsp; <span class="tourDetails">{{expData.experience_length.length_value}} {{expData.experience_length.length_type}}</span></div>
                    <div class="col-sm-4"><i class="fa fa-weixin" style="color: teal; font-size: 20px;" aria-hidden="true"></i>&nbsp; <span class="tourDetails" ng-repeat="lang in expData.experience_languages">{{lang}}</span></div>
                    <div class="col-sm-5"><i class="fa fa-clock-o" style="color: teal; font-size: 20px;" aria-hidden="true"></i>&nbsp; <span class="tourDetails">{{expData.experience_start_time}}</span></div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--About Experience-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>About your experience</h5>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-justify">
                            {{expData.experience_long_description.description_by_hour}}
                        </p>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>
                <!--What's included-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>What's included</h5>
                    </div>
                    <div class="col-sm-9">
                        <ul style="padding: 15px">
                            <li ng-repeat="includedItems in expData.experience_included">{{includedItems}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--What's excluded-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>What's excluded</h5>
                    </div>
                    <div class="col-sm-9">
                        <ul style="padding: 15px">
                            <li ng-repeat="excludedItems in expData.experience_excluded">{{excludedItems}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--Transportation-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Transportation</h5>
                    </div>
                    <div class="col-sm-9">
                        <p>{{expData.experience_transportation}}</p>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--Group Size-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Group Size</h5>
                    </div>
                    <div class="col-sm-9">
                        <p>{{expData.experience_group_size}}</p>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--Cancellation Policy-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Cancellation Policy</h5>
                    </div>
                    <div class="col-sm-9">
                        <p>{{expData.experience_cancelation_policy}}</p>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--Category-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Category</h5>
                    </div>
                    <div class="col-sm-9">
                        <div class="backTileDiv" ng-repeat="categoryItems in expData.experience_categories">{{categoryItems}}</div>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--Good for-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Good for</h5>
                    </div>
                    <div class="col-sm-9">
                        <div class="backTileDiv" ng-repeat="goodItems in expData.experience_for">{{goodItems}}</div>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

            </div>


        </div>

        <!--Right Form-->
        <div class="col-sm-4" style="background-color: rgba(255,255,255,1);">
            <div class="container-fluid">
                <br>
                <!--Cost-->
                <div class="row">
                    <div class="col-sm-5">
                        <span style="border-bottom: 1px solid rgba(0,0,0,1);font-size: 14px;">Starts At</span><br>
                        <strong style="font-size: 18px;">US ${{expData.experience_pricing.price_1_person}}</strong><br>
                        <span style="font-size: 14px;">per person</span>
                    </div>
                    <div class="col-sm-7">
                        <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#checkAvailabilityModal">Check Availability</button>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--About our host-->
                <div class="row container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4>About our host</h4>
                            <br>
                            <div class="stripe-3"></div>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-circle hostImage" src={{expData.experience_host_information.profile_picture}}>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <p>{{expData.experience_host_information.about}}</p>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

                <!--Credentials-->
                <div class="row container-fluid">
                    <div class="row container-fluid">
                        <h4>Credentials</h4>
                        <br>
                        <div class="stripe-3"></div>
                    </div>
                    <div class="row container-fluid">
                        <p>{{expData.experience_other_qualification}}</p>
                    </div>
                </div>
                <div class="row container-fluid">
                    <hr>
                </div>

            </div>


        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="checkAvailabilityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Ends-->




</div>