<div class="container" ng-controller="ExperienceDataCtrl">

        <div ng-controller="CarouselDemoCtrl">
            <div style="height: 305px; width: 100%;">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="min-height: 500px;">
                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <div style="background-size:cover;">
                            <img ng-src="{{slide.image[$index]}}" style="margin:auto;">
                        </div>
                    </div>
                </div>
            </div>

        </div>








    <div class="row container-fluid" style="margin-top: 205px;">
        <!--Left Form-->
        <div class="col-sm-8">
            <div class="container-fluid">
                <!--City Name-->
                <div class="row">
                    <h2><span style="font-weight: 100;">{{expData.cityName}},</span> <strong>{{expData.countryName}}</strong></h2>
                    <!--City Description-->
                    <p>{{expData.cityDescription}}</p>
                </div>
                <!--City tour details-->
                <div class="row">
                    <div class="col-sm-3"><i class="fa fa-hourglass" style="color: teal; font-size: 20px;" aria-hidden="true"></i>&nbsp; <span class="tourDetails">{{expData.tourDetails.timeInterval}}</span></div>
                    <div class="col-sm-4"><i class="fa fa-weixin" style="color: teal; font-size: 20px; aria-hidden="true"></i>&nbsp; <span class="tourDetails">{{expData.tourDetails.language}}</span></div>
                    <div class="col-sm-5"><i class="fa fa-clock-o" style="color: teal; font-size: 20px; aria-hidden="true"></i>&nbsp; <span class="tourDetails">{{expData.tourDetails.timeDetails}}</span></div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--About Experience-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>About your experience</h5>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-justify">
                            {{expData.aboutExperience}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>
                <!--What's included-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>What's included</h5>
                    </div>
                    <div class="col-sm-9">
                        <ul style="padding: 15px">
                            <li ng-repeat="includedItems in expData.whatIncluded">{{includedItems}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--What's excluded-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>What's excluded</h5>
                    </div>
                    <div class="col-sm-9">
                        <ul style="padding: 15px">
                            <li ng-repeat="excludedItems in expData.whatExcluded">{{excludedItems}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--Transportation-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Transportation</h5>
                    </div>
                    <div class="col-sm-9">
                        <p>{{expData.transportation}}</p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--Group Size-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Group Size</h5>
                    </div>
                    <div class="col-sm-9">
                        <p>{{expData.groupSize}}</p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--Cancellation Policy-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Cancellation Policy</h5>
                    </div>
                    <div class="col-sm-9">
                        <p>{{expData.cancellationPolicy}}</p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--Category-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Category</h5>
                    </div>
                    <div class="col-sm-9">
                        <div class="backTileDiv" ng-repeat="categoryItems in expData.category">{{categoryItems}}</div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--Good for-->
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Good for</h5>
                    </div>
                    <div class="col-sm-9">
                        <div class="backTileDiv" ng-repeat="goodItems in expData.goodFor">{{goodItems}}</div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

            </div>


        </div>

        <!--Right Form-->
        <div class="col-sm-4" style="background-color: rgba(255,255,255,1);">
            <div class="container-fluid">
                <br>
                <!--Cost-->
                <div class="row">
                    <div class="col-sm-5">
                        Starts At<br>
                        US $50<br>
                        per person
                    </div>
                    <div class="col-sm-7">
                        <button class="btn btn-warning btn-lg" type="button" data-toggle="modal" data-target="#checkAvailabilityModal">Check Availability</button>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--About our host-->
                <div class="row container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4>About our host</h4>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-circle hostImage" src={{expData.hostImg}}>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <p>{{expData.aboutHost}}</p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

                <!--Credentials-->
                <div class="row container-fluid">
                    <div class="row container-fluid">
                        <h4>Credentials</h4>
                    </div>
                    <div class="row container-fluid">
                        <p>{{expData.credentials}}</p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>

            </div>


        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="checkAvailabilityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Ends-->




</div>